{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
<div id="div_{{ field.id_for_label }}"class="form-group">
    {% if field.label %}
        <label for="{{ field.id_for_label }}" id="label_{{ field.id_for_label }}" {% if label_class %} class="{{ label_class }} control-label"{% endif %}>
    {% endif %}

    {% if field|is_checkbox %}
        {% crispy_field field %}
    {% endif %}

    {% if field.label %}
        {{ field.label }}
    {% endif %}


    {% if field.label %}
        </label>
    {% endif %}

    {% if not field|is_checkbox %}
        <div class="row col-sm-6">
        {% crispy_field field %}
        </div>
    {% endif %}

</div>
{% endif %}
